<!doctype html>
<html ng-app="bookApp">
<head>
</head>
<body ng-controller="bookController">

<div>
    <div>
        token - {{token}} triggerShowAdminPanel - {{triggerShowAdminPanel}}  triggerShowTokenPanel - {{triggerShowTokenPanel}} 
    </div>
    <div>
        <a href ng-click="triggerShowAdminPanel = !triggerShowAdminPanel">Админка</a>
        <div ng-show="triggerShowAdminPanel">
            <input class="form-control" ng-model="login" placeholder="Логин" />
            <input type="password" class="form-control" ng-model="pass" placeholder="Пароль" />
            <button class="btn btn-default" ng-click="showAdminPanel(login, pass)">Открыть админку</button>
            {{resultAdmin}}
            {{resultAdmin2}}
        </div>
    </div>
    <div>
        <a href ng-click="triggerShowTokenPanel = !triggerShowTokenPanel">Вход на Sale</a>
        <div ng-show="triggerShowTokenPanel">
            <div>
                <input class="form-control" ng-model="tempToken" placeholder="Токен" />
                <button class="btn btn-default" ng-click="checkToken(tempToken)">Войти на Sale по токену</button>
            </div>
            <div>
                <button class="btn btn-default" ng-click="createNewToken()">Получить новый токен и войти на Sale</button>
            </div>
        </div>
    </div>
</div>
    <!--

<div class="form-inline">
    <div class="form-group">
        <div class="col-md-8">
            <input class="form-control" ng-model="text" placeholder="Название"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <input type="number" class="form-control" ng-model="price" placeholder="Цена"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
        </div>
    </div>
</div>
        -->
    <script>

        angular.module("bookApp", []).controller("bookController", function ($scope, $http) {
            $scope.triggerShowAdminPanel = false;
            $scope.triggerShowTokenPanel = false;


        $scope.createNewToken = function() {
            $scope.token = "dadadsadad";
            
            $scope.resultAdmin = "false";
        }

        $scope.showAdminPanel = function (login, pass) {
            var admin = {
                Login: login,
                Pass: pass
            };

            $http.post("/api/authenticateAdmin/",admin).
                success(function(data) {
                    $scope.resultAdmin2 = data;
                    $scope.loaded = true;
                });

            /*
            
            */


            $scope.resultAdmin = admin;
        }
        
  /*
    $scope.list = model;
    $scope.addItem = function (text, price) {
        price = parseFloat(price); // преобразуем введенное значение к числу
        if(text != "" && !isNaN(price)) // если текст установлен и введено число, то добавляем
        {
            $scope.list.items.push({ purchase: text, price: price, done: false });
        }
    }
    */
});
    </script>
</body>
</html>