<!DOCTYPE html>
<html ng-app>
<head>
    <title>Second Angular Page</title>
</head>
<body>
    <div ng-controller="HWController">
        {{helloMessage}}
    </div>

    <div ng-controller="HWController2">
        Full Name: {{firstName + " " + lastName}}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs
                        /1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>  
