<!DOCTYPE html>
<html ng-app="appName">

<head>
</head>

<body ng-controller="mainController">
    <h1>Angular Playground</h1>
    {{message}}
    <br />Total Length: {{message.length}}
</body>

</html>